
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
      url('fonts/Montserrat-Regular.woff2') format('woff2'),
      url('fonts/Montserrat-Regular.woff') format('woff'),
      url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
      url('fonts/Montserrat-Bold.woff2') format('woff2'),
      url('fonts/Montserrat-Bold.woff') format('woff'),
      url('fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', Arial, serif;
  font-size: 18px;
  font-weight: normal;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  padding-top: 40px;
  padding-bottom: 65px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 252px;
  color:#ffffff;
  background-color: #000000;
  background-image: url(img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.header .container { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.header__logo {
  margin-right: 120px;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__toggle {
  display: none;
}

.nav__list {
  width: 100%;
  max-width: 400px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}

.wrap-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts__list {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  list-style: none;
}

.contact__link {
  margin: 0;
  padding: 0;  
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #FFFFFF;
}

.nav__link:hover,
.contact__link:hover {
  color: #fa9300;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.contacts__text {
  margin: 0;
  padding: 0;
  text-align: right;
}

.header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
}

/* filter-cats */

.filter-cats {
  padding-top: 37px;
  padding-bottom: 83px;
  padding-left: 10px;
  padding-right: 10px;
}

.filter {
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__title {
  margin: 0;
  padding: 0;
  margin-right: 48px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.filter__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.filter__item:first-child {
  margin-right: 85px;
}

.filter__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.filter__label::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 9px;
  right: -29px;
  background-image: url(img/filter-arrow.png);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.filter__label:hover {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.filter__item:last-child .filter__label::after {
  right: -39px;
}

.filter__input:checked + .filter__label::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* cats__list */

.cats__list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cats__item {
  margin-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color:  #F3F3F3;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: -2px 2px 2px #000000;
          box-shadow: -2px 2px 2px #000000;
}

.sale {
  position: relative;
}

.sale::before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: '-40%';
  top: 34px;
  left: 38px;
  width: 78px;
  height: 39px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #E62D2D;
  border-radius: 10px;
  z-index: 10;
}

.cat-img {
  position: relative;
  height: 264px;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  overflow: hidden;
}

.heart {
  position: absolute;
  width: 46px;
  height: 42px;
  top: 36px;
  right: 32px;
  z-index: 10;
  cursor: pointer;
}

.heart_like path{
  fill: #E62D2D;
}

.cat-img img {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.cat-img:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.heart:hover {
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.heart:hover path {
  fill-opacity: 0.5;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.heart_like:hover path {
  fill-opacity: 1;
}


.cat-heading {
  margin: 0;
  padding: 0;
  padding-left: 29px;
  margin-bottom: 21px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.cat-option__list {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  margin-left: 29px;
  padding-left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.cat-option__list::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 26px;
  left: 0;
  background-color: #6EBBD3;
}


.cat-option__item {
  width: 90px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cat-option__text {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.cat-option__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.cat-price {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  padding-left: 29px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.cat-buy {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #6EBBD3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cat-buy:hover {
  background-color: #fa9300;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.sold {
  background-color: #1F2021;
  pointer-events: none;
  cursor: default;
}

.sold:hover {
  background-color: #1F2021;
  -webkit-filter: none;
          filter: none;
}

.btn-show {
  width: 380px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  border: 1px solid #CACACA;
  border-radius: 10px;
}

.btn-show:hover {
  font-weight: bold;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  background-color: #fa9300;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* footer */

.footer {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 1280px;
  color: #ffffff;
  background-color: #1F2021;
}

.wrap-footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap-title {
  max-width: 400px;
}

.footer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.footer__description {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 28px;
  line-height: 91%;
}

.footer__form {
  width: 100%;
  max-width: 566px;
}

.wrap-input {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  padding-left: 33px;
  width: 100%;
  max-width: 300px;
  font-size: 14px;
  line-height: 17px;
  height: 65px;
  border: none;
  border-radius: 10px;
}

.form__btn {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 250px;
  height: 65px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  background-color: #6EBBD3;
}


.form__input:hover {
  -webkit-filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
          filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.form__btn:hover {
  background-color: #fa9300;
  -webkit-filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
          filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.wrap-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__label {
  position: relative;
  margin-left: 36px;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.form__label::before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  left: -36px;
  background-color: #6EBBD3;
  border-radius: 3px;
}

.form__label::after {
  display: none;
  position: absolute;
  content: '';
  width: 10px;
  height: 8px;
  top: 5px;
  left: -32px;
  background-image: url(img/checkbox-form.png);
}

.form__checkbox:checked + .form__label::after {
  display: block;
}

.form__label:hover::before {
  -webkit-filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
          filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.arrow-up {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50px;
  bottom: 200px;
  width: 59px;
  height: 59px;
  background-color: #6EBBD3;
  z-index: 100;
  -webkit-box-shadow: -3px 3px 3px #000000;
          box-shadow: -3px 3px 3px #000000;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}

.arrow-up_show {
  opacity: 1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.arrow-up::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 12px;
  background-image: url(img/arrow-up.png);
}

.arrow-up:hover {
  background-color: #fa9300;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.arrow-up:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.popup {
  position: fixed;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  top: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1000;
  opacity: 0;
}

.popup::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 20px;
  background-image: url(img/heart-hover.png);
  background-size: cover;
  -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
          filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}

.popup p {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 12px;
}

.popup_show {
  opacity: 1;
 
}



@media (max-width: 1280px) {

  .header__logo {
    margin-right: 90px;
  }

  .container {
    max-width: 1180px;
  }

  .cats__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__form {
    max-width: 500px;
  }

  .form__input {
    margin-right: 10px;
  }

}

@media (max-width: 800px) {

  .wrap-header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }


  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .nav__list {
    margin-bottom: 20px;
  }

  .header__logo {
    margin-right: 60px;
  }

  .contact__link {
    font-size: 18px;
  }

  /* filter-cats */

  .filter__title {
    margin-right: 20px;
  }

  .filter__item:first-child {
    margin-right: 50px;
  }

  /* cats__list */
  
  .cats__item {
    width: 300px;
  }

  .cat-img {
    height: auto;
  }

  .cat-option__list {
    padding-left: 0;
  }

  .cat-option__list::before {
    left: -8px;
  }

  .btn-show {
    width: 300px;
  }

  /* footer */

  .wrap-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrap-title {
    margin-bottom: 20px;
  }

}

@media (max-width: 480px) {
  .header__title {
    font-size: 28px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .filter__title {
    margin-bottom: 10px;
  }

  .wrap-footer {
    max-width: 300px;
  }

  .footer__title {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .footer__description {
    font-size: 24px;
  }

  .wrap-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form__btn {
    max-width: 300px;
  }


}
